extends layout.jade

block content
  div#embed
    ul.nav.nav-tabs
      each code, target in output
        if (typeof code === 'string')
          li: a(href='##{target}', data-toggle='tab')= httpsnippet.info(target).title

        else
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span= httpsnippet._familyInfo(target).title
              span &nbsp;
              span.caret

            ul.dropdown-menu
              each _code, _target in code
                li: a(href='##{target}-#{_target}', data-toggle='tab') #[i.fa.fa-check] #[= httpsnippet.info(target, _target).title]

    <!-- Tab panes -->
    div.tab-content
      each code, target in output
        if (typeof code === 'string')
          div.tab-pane(id= target): pre: code= code

        else
          each _code, _target in code
            div.tab-pane(id='#{target}-#{_target}'): pre: code= _code

    footer Powered by #[a(href="https://apiembed.com/") APIembed], made with &hearts; at #[a(href="https://www.mashape.com/") Mashape].

block scripts
  script(type='text/javascript').
    $(function() {
      // select first tab
      $('.nav-tabs a:first').tab('show');

      // highlight the code
      $('.tab-content pre code').each(function (i, block) {
        hljs.highlightBlock(block);
      });
    });

    function resize () {
      // calculate the new height
      var height = $(window).height();

      height -= $('.nav-tabs').height();
      height -= $('footer').height();
      height -= parseInt($('pre:first-of-type').css('padding-top')) * 2;

      // adjust the height
      $('.tab-content').height(height);
    }

    $(document).ready(resize);
    $(window).resize(resize);
