extends layout.jade

block content
  div#embed(role='tabpanel')
    ul.nav.nav-tabs(role='tablist')
      each code, target in output
        if (typeof code === 'string')
          li(role='presentation'): a(href='##{target}', aria-controls= target, role='tab' data-toggle='tab')= httpsnippet.info(target).title

        else
          li.dropdown(role='presentation'): a.dropdown-toggle(href='#', aria-controls= target, role='tab' data-toggle='dropdown')
            span= httpsnippet._familyInfo(target).title
            span &nbsp;
            span.caret

            ul.dropdown-menu(role='menu')
              each _code, _target in code
                li: a(href='##{target}-#{_target}', aria-controls='#{target}-#{_target}', role='tab' data-toggle='tab')= httpsnippet.info(target, _target).title

    <!-- Tab panes -->
    div.tab-content
      each code, target in output
        if (typeof code === 'string')
          div.tab-pane(id= target, role='tabpanel'): pre: code= code

        else
          each _code, _target in code
            div.tab-pane(id='#{target}-#{_target}', role='tabpanel'): pre: code= _code

    footer Powered by #[a(href="https://apiembed.com/") APIembed], made with &hearts; at #[a(href="https://www.mashape.com/") Mashape].

block scripts
  script(type='text/javascript').
    $(function() {
      // select first tab
      $('.nav-tabs a:first').tab('show');

      // highlight the code
      $('.tab-content pre code').each(function (i, block) {
        hljs.highlightBlock(block);
      });
    });

    function resize () {
      // calculate the new height
      var height = $(window).height();

      height -= $('.nav-tabs').height();
      height -= $('footer').height();
      height -= parseInt($('pre:first-of-type').css('padding-top')) * 2;

      // adjust the height
      $('.tab-content').height(height);
    }

    $(document).ready(resize);
    $(window).resize(resize);
