extends layout.pug

block content
  div#embed
    header
      ul.nav.nav-tabs
        each code, target in output
          - var clients = (typeof code === 'string') ? false : Object.keys(code)

          if (!clients)
            li: a(href=`#${target}`, data-toggle='tab')= namedTargets[target].title

          else if (clients.length === 1)
            li: a(href=`#${target}-${clients[0]}`, data-toggle='tab')= namedTargets[target].title

          else
            li.dropdown
              a.dropdown-toggle(href=`#${target}`, data-toggle='dropdown')
                span= namedTargets[target].title
                span &nbsp;
                span.caret

              ul.dropdown-menu
                each _code, client in code
                  li: a(href=`#${target}-${client}`, data-toggle='tab') #[i.fa.fa-check] #[= namedTargets[target].clients[client].title]

      div.btn-dropdown.dropdown.hidden.pull-right
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown"): i.fa.fa-bars

        ul.dropdown-menu
          each code, target in output
            - var clients = (typeof code === 'string') ? false : Object.keys(code)

            if (!clients)
              li: a.hidden(href=`#${target}`, data-toggle='tab') #[i.fa.fa-check] #[= namedTargets[target].title]

            else if (clients.length === 1)
              li: a.hidden(href=`#${target}-${clients[0]}`, data-toggle='tab') #[i.fa.fa-check] #[= namedTargets[target].title]

            else
              li.dropdown-header.hidden(data-clients= '#' + target + '-' + Object.keys(code).join(',#' + target + '-'))= namedTargets[target].title

              each _code, client in code
                li: a.hidden(href=`#${target}-${client}`, data-toggle='tab') #[i.fa.fa-check] #[= namedTargets[target].clients[client].title]

    div.tab-content
      each code, target in output
        if (typeof code === 'string')
          div.tab-pane(id= target).fade
            button(class='btn btn-default btn-xs btn-clipboard', data-clipboard-target=`${target}-code`) #[i.fa.fa-copy] #[span Copy to Clipboard]
            pre: code(id=`${target}-code`, class= namedTargets[target].extname.replace('.', ''))= code

        else
          each _code, _target in code
            div.tab-pane(id=`${target}-${_target}`).fade
              button(class='btn btn-default btn-xs btn-clipboard', data-clipboard-target=`#${target}-${_target}-code`) #[i.fa.fa-copy] #[span Copy to Clipboard]
              pre: code(id=`${target}-${_target}-code`, class= namedTargets[target].extname.replace('.', ''))= _code

    footer Powered by #[a(href="https://apiembed.com/", target="_blank") APIembed]

block scripts
  script(type='text/javascript').
    $(function () {
      new ClipboardJS('.btn-clipboard');

      // select first tab
      $('.nav-tabs a[data-toggle="tab"]:first').tab('show')

      // resize events
      $(window).resize(function () {
        var totalWidth = 0;
        var windowWidth = $(this).width();

        $('.nav-tabs > li').each(function () {
          var tab = $(this)
          var link = tab.find('a')

          totalWidth += tab.width()

          if (tab.position().left + tab.width() + 100 > windowWidth) {
            tab.addClass('hidden')

            $('.btn-dropdown a[href*="' + link.attr('href') + '"]').removeClass('hidden')
            $('.btn-dropdown li[data-clients*="' + link.attr('href') + '"]').removeClass('hidden')
          } else {
            tab.removeClass('hidden')

            $('.btn-dropdown a[href*="' + link.attr('href') + '"]').addClass('hidden')
            $('.btn-dropdown li[data-clients*="' + link.attr('href') + '"]').addClass('hidden')
          }
        })

        if (totalWidth + 50 > windowWidth) {
          $('.btn-dropdown').removeClass('hidden')
        } else {
          $('.btn-dropdown').addClass('hidden')
        }

        $('.dropdown-menu').css('max-height', $(this).height() - 100)
      }).resize()

      // dropdown click events
      $('.btn-dropdown a[data-toggle="tab"]').on('click', function (e) {
        e.preventDefault()

        $('.btn-dropdown .active').removeClass('active')
        $('.nav-tabs .active').removeClass('active')

        $(this).tab('show')

        $('a[href="' + $(e.target).attr('href') + '"]').parent().addClass('active')
      });

      // highlight the code
      $('.tab-content pre code').each(function (i, block) {
        hljs.highlightBlock(block)
      })
    })
